html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    /* background-color: bisque; */
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    color: rgb(8, 2, 2);
    overflow-x: hidden; 
    overflow-y: hidden;
}

.info{
    margin-left: -1vw;
}
/* Scroll bar */
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-thumb {
background-color:   hsl(9,100%,27%);
outline: 1px solid rgb(235, 230, 230);

}


/* icons */
.icon a{
    color: black;
}
.icon{
    color: black;
}
a{
    color:  hsl(9,100%,27%);
}

a:hover{
    color: #000;
}

/* paragraph text for all the pages and sections */
p{
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
    text-align: justify;
    text-size-adjust: 2px;
    margin: 20px;
}

.responsive{
    width: 100%;
    height: auto;
}

h4{
    font-size: 18px;
}
/* Logo Div */
.MediaDiv{
        z-index: 20;
    }
/* Navbar for mobile*/
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: rgb(241, 234, 234);
    color: rgb(12, 12, 12);
    overflow: hidden; 
    transition: 0.5s;
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.3s; 
    font-size: 1.5em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 2px;
    font-weight: 900;
  }

 /*media icons */
.icon{
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}
  /* media icons */
  .icon.mobile{
    float: right;
    color: white;
  }

 /* burger navbar */
.Bars{
    margin-left: -5vw;
}


/* Desktop navbar section */
.Desktop{
    display: none;
}

.mobile-Nav{
    display: block;
    color: black;
}


/* get in touch section/page */
.FormButton{
    color: white;
    background-color: hsl(9,100%,27%);
    border-radius: 50px;
    font-weight: 600;
    width: 60vw;
    padding: 10px;
}
  /* form section */
.form-control{
    background-color: rgb(209, 204, 204);
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.FormDiv{
   margin-bottom: 5vh;
}

/* footer section */
 /* footer text */
.CopyText{
    text-align: center;
    font-size: 14px;
}
.FullName{
    color:hsl(9,100%,27%);
    font-weight: 30px;

}
