html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    /* background-color: bisque; */
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden;
    scroll-behavior: smooth;
}
  /* Logo Div */
  .MediaDiv{
    z-index: 20;
}



/* Navbar for mobile*/
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: rgb(228, 126, 152);
    color: rgb(12, 12, 12);
    overflow: hidden; 
    transition: 0.5s;
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.3s; 
    font-size: 1.5em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 10px;
    /* color: black; */
    font-weight: 900;
  }

   /* burger navbar */
 .Bars{
    margin-left: -5vw;
    margin-top: 3vh;
    
}
.mobile-Nav{
    display: block;
    color: black;
    z-index: 5;
    background-color: hsl(9,100%,27%);
   
}
/* Desktop navbar section */
.Desktop{
    display: none;
}


  /* Scroll bar */
    body::-webkit-scrollbar {
        width: 0.2em;
    }
  
  body::-webkit-scrollbar-thumb {
  background-color:   hsl(9,100%,27%);
  outline: 1px solid rgb(235, 230, 230);
  
  }
  
  
 
  /* tags */
  
  /* paragraph text for all the pages and sections */
  p{
      font-size: 14px;
      font-weight: 250;
      line-height: 18px;
      text-align: start;
      text-size-adjust: 2px;
      margin: 20px;
  }
  
  

       /* iconss */
  .icons a{
    color:hsl(9,100%,27%);
}
.icons{
    color:hsl(9,100%,27%);
}
a{
    color:  hsl(9,100%,27%) !important;
 
}

a:hover{
    color: #000;
  
}

a,li{
    text-decoration:none !important;
}
 /*bars and close */
.icons{
    display: inline-block;
    font-size: 1.5em;
    border-radius: 50%;
    color: white;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 1vh;
  
    
}

/* footer media icon */
.icon{
    display: inline-block;
    font-size: 1.4em;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 10px;
    text-align: center;
    color:black !important; 
}
 

/* Landing page section */
.LandingPage{
    width: 100vw;
    padding: 0px !important;
    margin:0px !important;
}
/* About section */
.ThandoKunene{
    margin-left: 15vw;
}

 
/* Services section */
.ServiceIcons{
    margin-left: 45vw;
    font-size: 2em;
    }

 /* Collection section*/
.pic{
    width: 35vw;
    
}
/*  */



img.wp-smiley,img.emoji {
    text-rendering: auto;
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
    height: 20vh;
}


/* contact section */
iframe{
    width: 90vw;
}

/* footer section */
 /* footer text */
.CopyText{
    text-align: center;
    font-size: 14px;
}
.FullName{
    color:hsl(9,100%,27%);
    font-weight: 30px;

}


  /* --------------------------------------------------------------media queries */
 
 /* // Extra small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // -Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (orientation: landscape) { 
 
    
   
}

/* -Medium devices (tablets or ipad) */
@media (min-width: 768px) {

    /* burger navbar */
    .Bars, .closebtn{
        margin-left: 5vw;
        font-size: 3.2em;
        margin-bottom: 5vh;
    
    }

    /* About section */
    .ThandoKunene{
        margin-left: 18vw;
    }
    /* Services section */
    .ServiceIcons{
        margin-left: 20vw;
        font-size: 2em;
    }

    /* Collection section*/
    .pic{
    width: 20vw;
    height: 10vh;
    margin-left: 5vw;
    }

    /* contact section */
    iframe{
        padding-right: 30vw;
    }

}

/* -Large devices (ipad pro) */
@media (min-width: 992px) { 

 .mobile-only{
     display: none;
 }
 .Desktop{
 display: block;
 color: hsl(9,100%,27%);
 }  
 .LogoImag{
     padding: 10px;
 }

 /* hr line */
.NameHrLine{
    border-top: 1px solid hsl(9,100%,27%);
    margin: 20px;
}
 /* navbar desktop */
 #myNav{
 display: none;
 }
 ul.desktop-nav{
     list-style: none;
     text-decoration: none;
 }  
 .LogoDesktopNavBar{
     margin-bottom: 2vh;
 } 
 .IconsDesktopNavBar {
    margin-top: -4vh;
    margin-left: 72vw;
} 
  
 /* desktop navbar */
 .DesktopNavbar{
   display: inline-block;
 }
 .nav-link{
   color: rgb(216, 12, 12);
   margin-left: 10px;
   font-weight: 200;
   font-size: 1.8em;
 }
 .nav-link:hover{
     color: pink;
 } 
 
 /* Landing page section */
 .CarouselImages{
     height: 40vh !important;
 }
 /* About section */
.ThandoKunene{
    margin-left: 15vw;
    margin-top: 5vh;
    width: 20vw;
}
/* Services section */
.ServiceIcons{
    margin-left: 15vw;
    font-size: 2em;
    }
    
/* contact section */
iframe{
    width: 70vw;
    height: 20vh;
    margin-top: 2vh;
}
/* Collection page */
.ImageDiv{
    height: 10vw;
}

footer{
    margin-top:8.9vh;
}
   
}
@media screen and (min-width: 1200px) {
    
 
/* Navbar section */
.LogoDesktopNavBar{
    margin-top: 4vh;
    margin-left: -4vw;
    width: 60% !important;
} 
.IconsDesktopNavBar {
   margin-bottom: 2vh;
   margin-left: 920px;
} 
 /* Landing page section */
 .CarouselImages{
    height: 80vh !important;
}
 /* About section */
 .ThandoKunene{
    margin-left: 22vw;
    margin-top: 10vh;
    width: 13vw;
}

    
/* contact section */
iframe{
    height: 40vh;
}



  }
 
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}